.contactus {
  padding: 80px 0 45px 0;
}

.contactus__heading {
  margin-bottom: 90px;
}

.contactus__form-container {
  width: 100%;
}

.contactus__form-info {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-content: stretch;

  margin-bottom: 60px;
}
.contactus__form-userinfo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  margin: -10px 10px;

  width: 40%;
}

.contactus__form-graph {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  margin: 10px 0;
}
.contactus__form-field {
  width: 100%;

  border: none;
  border-bottom: 1px solid #bdbdbd;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  line-height: 40px;
}

.contactus__form-field:focus {
  outline: none;
}

.contactus__form-message {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  width: 40%;

  margin: 0 10px;
}

.contactus__message {
  width: 100%;
  flex-grow: 1;
  border: none;
  border-bottom: 1px solid #bdbdbd;
}

.contactus__message:focus {
  outline: none;
}

.contactus__form-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contactus__form-button {
  font-family: 'OpenSans';
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 42px;
  text-align: center;
  color: #ffffff;
  background: #d98943;

  border: 1px solid #ffffff;
  box-sizing: border-box;
  width: 100%;
}

@media (max-width: 768px) {
  .contactus__form-userinfo {
    width: 90%;
  }
  .contactus__form-message {
    width: 90%;
  }
}

@media (max-width: 992px) {
  .contactus {
    padding: 60px 0px;
  }

  .customers__cards-item {
    margin-bottom: 40px;
  }

  .contactus__form-info {
    flex-direction: column;
    align-content: center;
  }
  .contactus__form-userinfo {
    margin-bottom: 30px;
    width: 85%;
  }

  .contactus__form-message {
    width: 85%;
  }
  .contactus__message {
    height: 5rem;
  }
}
