.customers {
  padding: 80px 0 120px 0;
}

.customers__header {
  margin-bottom: 67px;
}

.customers__cards {
  display: flex;
  justify-content: space-around;
  flex-flow: row wrap;
  align-items: stretch;
}

.customers__cards-item {
  width: 300px;
  margin-bottom: 45px;
  display: flex;
  flex-flow: column;
}

.item__opinion-text {
  flex-grow: 1;

  background: #e2e2e2;
  border-radius: 7px;

  padding: 8px 20px;

  font-family: 'OpenSans';
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  text-align: center;
  font-style: normal;

  margin-bottom: 22px;

  color: #86878b;
  position: relative;
}

.item__opinion-text::after {
  content: '';
  display: block;

  width: 1px;
  height: 1px;
  background-color: transparent;

  border-top: 12px solid #e2e2e2;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-bottom: 1px solid transparent;

  position: absolute;
  left: 39px;
  top: 100%;
}

.item__customer-info {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-around;
  padding: 0 22px;
}

.customer-photo__img {
  width: 70px;
  height: 70px;
}

.text-info__customer-name {
  font-family: 'OpenSans';
  font-size: 20px;
  font-style: normal;
  color: #000000;
  font-weight: bold;
  margin-bottom: 12px;
  text-align: right;
}

.text-info__customer-position {
  font-family: 'OpenSans';
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  text-align: right;
  color: #86878b;
}

@media (max-width: 992px) {
  .customers {
    padding: 60px 0px;
  }
}

@media (max-width: 576px) {
  .customers__cards {
    display: flex;
    justify-content: center;
    flex-flow: column wrap;
    align-items: stretch;
    align-content: center;
  }
  .item__opinion-text {
    margin-bottom: 5px;
  }
}
