@font-face {
  font-family: 'Raleway';
  src: url(../fonts/Raleway-VariableFont_wght.ttf);
}
@font-face {
  font-family: 'OpenSans';
  src: url(../fonts/OpenSans-Regular.ttf);
}

.awesome {
  padding-top: 100px;
}

.awesome__container {
  max-width: 1170px;
  margin: 0px auto;
  padding: 0 15px;
}
.awesome__header {
  margin-bottom: 67px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.about__title {
  margin-bottom: 25px;
}

.title {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: normal;
  text-align: center;
  font-size: 36px;
  line-height: 42px;
  text-transform: uppercase;
  color: #212121;
}

.about__line {
  width: 64px;
  height: 2px;
  background-color: #d98943;
  margin-bottom: 30px;
}
.about__text {
  font-family: 'OpenSans';
  font-style: normal;
  font-weight: normal;
  text-align: center;
  font-size: 14px;
  line-height: 19px;
  color: #86878b;
  margin-bottom: 67px;
}
.awesome__cards {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: center;
}
.awesome__cards-item {
  max-width: 350px;
  margin: 0px 15px;
  padding-bottom: 109px;
}

.item-description__icon {
  width: 70px;
  height: 70px;
  border: 1px solid #d98943;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0px auto;
  margin-bottom: 30px;
}
.item-description__icon-logo {
  margin-top: 17.5px;
  margin: auto;
}
.item-description__title {
  font-family: 'OpenSans';
  font-size: 20px;
  font-style: normal;
  color: #000000;
  font-weight: bold;
  margin-bottom: 16px;
  text-align: center;
}
.item-description__text {
  font-family: 'OpenSans';
  font-style: normal;
  font-weight: normal;
  color: #000000;
  font-size: 14px;
  line-height: 19px;
  text-align: center;
}
