.template {
  padding-top: 109px;
  padding-bottom: 101px;

  background: url('../img/template/background-1.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
}

.template::after {
  content: '';
  display: block;

  background: rgba(0, 0, 0, 0.55);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 0;
}

.template__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: row wrap;
  margin: 0 -7px;
}
.temltate__text-column {
  margin: 0px 7.5px 15px 7.5px;
}
.template__logo {
  margin-bottom: 32px;
}

.template__logo-big_color_white {
  color: #fff;
  font-style: normal;
  font-weight: normal;
  font-size: 60px;
  line-height: 70px;
}
.template__logo-big_color_orange {
  color: #d98943;
  font-style: normal;
  font-weight: normal;
  font-size: 60px;
  line-height: 70px;
}
.template__heading {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.template__title {
  max-width: 540px;

  font-family: 'Raleway';
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 42px;

  color: #fff;
  text-transform: uppercase;
}

.template__title::after {
  content: '';
  display: block;

  height: 2px;
  width: 64px;
  margin: 34px 0;
  background-color: #fff;
}

.template__subtitle {
  max-width: 282px;

  font-family: 'OpenSans';
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;

  color: #fff;

  margin-bottom: 39px;
}

.template__button:hover {
  color: #fff;
  border: 1px solid #d98943;
  background-color: #d98943;
  transition: all 0.5s ease;
}

.template__form-container {
  max-width: 370px;
  margin: 0px 7.5px 15px 7.5px;

  background: #fff;
  border-radius: 5px;

  overflow: hidden;
}

.template__form-heading {
  margin-bottom: 10px;
}

.form__title {
  font-family: 'OpenSans';
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 27px;
  text-align: center;
  text-transform: capitalize;
  padding: 18px 59px;
}

.form__title_color_orange {
  color: #d98943;
  text-transform: uppercase;
}

.template__form-input-fields {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0 59px;
  margin-bottom: 50px;
}

.form__label {
  font-family: 'OpenSans';
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  text-align: left;

  color: #bdbdbd;

  margin-bottom: 16px;
}

.form__field {
  border: none;
  border-bottom: 1px solid #bdbdbd;

  margin-bottom: 19px;
}

.template__form-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.template__form-button {
  width: 100%;
  font-family: 'OpenSans';
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;
  color: #ffffff;
  background-color: #d98943;
  border: none;
  padding: 20px 0;
}

.template__form-button:hover {
  cursor: pointer;

  background: #333333;
  color: #d98943;

  transition: all 0.5s ease;
}
