.price {
  padding: 80px 0;
  background-color: #e5e5e5;
}
.price__header {
  margin-bottom: 63px;
}

.price__plans {
  display: flex;
  justify-content: space-around;
  align-content: center;
  flex-flow: row wrap;
}
.price__plans-item {
  margin: 0px 0px 50px 0px;
  width: 340px;
}
.item__block {
  text-align: center;
  background-color: #ffffff;
  font-family: 'OpenSans';
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 40px;
  text-align: center;
  color: #86878b;
  margin: 2px;
}

.item__block:hover {
  background-color: #d98943;
  color: whitesmoke;
  font-weight: 800;
}
.item__tarif-name {
  font-family: 'OpenSans';
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 50px;
  text-align: center;
  color: #ffffff;
  background-color: #333333;
}
.item__tarif-cost {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: bold;
  font-size: 35px;
  line-height: 100px;
  text-align: center;
  color: #ffffff;
  background-color: #333333;
}
.item__tarif-period {
  font-family: 'OpenSans';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 50px;
  text-align: center;
  color: rgba(255, 255, 255, 0.5);
  background-color: #333333;
  border-bottom: 5px solid #d98943;
}

@media (max-width: 1200px) {
  .price {
    padding: 60px 0px;
  }
}
